* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: black;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: black;
}

h4 {
  font-size: 20px;
  color: black;
}

h6 {
  font-size: 12px;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: black;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0px;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
  background-color: rgb(190, 229, 237);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  z-index: 999;
  position: sticky;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 15px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #10942e;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #070807;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#hero {
  background-image: url("./Images/images-bg.jpeg");
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #55d2a4;
}

#hero button {
  background-image: url("./Images/button.png");
  background-color: transparent;
  border: none;
  color: green;
  padding: 14px 80px 14px 60px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#feature .feature-box {
  width: 170px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(225, 137, 137, 0.25);
  border: 1px solid rgb(220, 168, 168);
  border-radius: 4px;
  margin: 15px 0px;
}

#feature .feature-box:hover {
  box-shadow: 10px 10px 54px rgba(108, 89, 89, 0.39);
}

#feature .feature-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 5px;
  color: #187f25;
  background-color: rgb(157, 215, 215);
}

#feature .feature-box:nth-child(2) h6 {
  background-color: rgb(221, 125, 118);
}

#feature .feature-box:nth-child(3) h6 {
  background-color: rgb(236, 244, 123);
}

#feature .feature-box:nth-child(4) h6 {
  background-color: rgb(152, 249, 159);
}

#feature .feature-box:nth-child(5) h6 {
  background-color: rgb(246, 171, 225);
}

#feature .feature-box:nth-child(6) h6 {
  background-color: rgb(176, 172, 249);
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 15%;
  min-width: 250px;
  padding: 10px 25px;
  border: 1px solid rgb(238, 239, 191);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(129, 128, 155, 0.848);
  margin: 15px 10px;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(54, 6, 212, 0.282);
}

#product1 .pro img {
  width: 100%;
  height: 15rem;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: rgb(154, 150, 150);
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  font-size: 14px;
  color: #1a1a1a;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgba(247, 252, 93, 0.936);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #187f25;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  border: 1px solid rgb(235, 198, 222);
  background-color: rgb(242, 218, 231);
  position: absolute;
  top: 19rem;
  left: 11.5rem;
}

#banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url(./Images/bg-image.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: rgb(10, 10, 10);
  font-size: 16px;
}

#banner h2 {
  color: rgb(13, 13, 13);
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: rgb(251, 31, 31);
}

#banner button:hover {
  background-color: rgb(6, 102, 60);
  color: white;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  background-image: url(./Images/bg-image.jpg);
  min-width: 600px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner h4 {
  color: rgb(31, 31, 25);
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  font-size: 28px;
  font-weight: 800;
  color: #1a1a1a;
}

#sm-banner span {
  font-size: 14px;
  font-weight: 500;
  color: #110707;
  padding-bottom: 15px;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: rgb(21, 20, 20);
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #070606;
  outline: none;
  transition: 0.2s;
}

#sm-banner .banner-box:hover button {
  background-color: rgb(5, 81, 64);
  color: white;
  border: 1px solid rgb(5, 81, 64);
}

#banner3 {
  display: flex;
  padding: 0 80px;
  justify-content: space-between;
  flex-wrap: wrap;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  background-image: url(./Images/nature.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 h2 {
  color: black;
  font-size: 22px;
  font-weight: 900;
}

#banner3 h3 {
  color: rgb(18, 17, 17);
  font-size: 15px;
  font-weight: 800;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(11, 11, 110);
  background-repeat: no-repeat;
  background-position: 20% 30%;
}

#newsletter h2 {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: rgb(219, 212, 212);
}

#newsletter p span {
  color: rgb(247, 237, 55);
}

#newsletter .form {
  display: flex;
  width: 40%;
  gap: 0;
}
#newsletter input {
  height: 2.9rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: rgb(14, 173, 123);
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  margin: 0 0 8px 0;
  text-decoration: none;
  color: rgb(56, 49, 49);
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #66abec;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid black;
  border-radius: 6px;
}

footer .install img {
  margin: 2px 0 2px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #064d3e;
}

footer .copyright {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}

#close {
  display: none;
}

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    height: 100vh;
    width: 300px;
    top: 0;
    right: -300px;
    background-color: rgb(245, 244, 239);
    border: 0 40px 60px rgba(183, 91, 91, 0.3);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar li {
    margin-bottom: 20px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    padding-left: 20px;
    font-size: 24px;
    color: #070606;
  }

  #navbar.active {
    right: 0px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    font-size: 24px;
    left: 30px;
    color: black;
  }

  #lg-bag {
    display: none;
  }

  #hero {
    height: 80vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }

  #feature .feature-box {
    margin: 15px 15px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1.pro {
    margin: 15px 0;
  }

  #banner {
    height: 20vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #banner3 {
    padding: 0 40px;
  }

  #banner3 .banner-box {
    width: 28%;
  }

  #newsletter .form {
    width: 70%;
  }
}

/* Shop Page */

#page-header {
  background-image: url(./Images/bg-image.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: black;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 600;
  background-color: #077b4b;
  color: white;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0px 20px 0px;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-image {
  width: 30%;
  margin-right: 50px;
}

#prodetails .single-pro-details button {
  color: white;
  background-color: #088178;
}

#prodetails .single-pro-details span {
  line-height: 25px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/* Blog page */

#page-header.blog-header {
  background-image: url("./Images/blog-background-img.jpg");
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  font-weight: 700;
  font-size: 11px;
  text-decoration: none;
  color: black;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details a::after {
  content: "";
  background-color: black;
  position: absolute;
  width: 50px;
  height: 1px;
  top: 5px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: #088178;
}

#blog .blog-details a:hover::after {
  background-color: #088178;
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  color: #c9cbce;
  font-weight: 700;
  z-index: -9;
}

@media (max-width: 477px) {
  #header {
    padding: 10px 30px;
  }

  #hero {
    padding: 0 20px;
    background-position: 55%;
  }

  h2 {
    font-size: 32px;
  }

  h1 {
    font-size: 38px;
  }

  .section-p1 {
    padding: 20px;
  }

  #feature .fe-box {
    margin: 0 0 15px 0;
    width: 155px;
  }

  /* #feature {
    justify-content: space-between;
  } */

  #product1 .pro {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {
    height: 30vh;
  }

  #sm-banner .banner-box2 {
    margin-top: 20px;
  }

  #banner3 {
    padding: 0 20px;
  }

  #banner3 .banner-box {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }

  footer .copyright {
    text-align: start;
  }
  /* Single Product */

  #prodetails {
    display: flex;
    flex-direction: column;
  }

  #prodetails .single-pro-image {
    width: 100%;
    margin-left: 0px;
  }

  #prodetails .single-pro-details {
    width: 100%;
  }

  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }

  #about-head {
    flex-direction: column;
  }

  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }

  #about-head div {
    padding-left: 0px;
  }

  #about-app .video {
    width: 100%;
  }
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head div {
  padding-left: 40px;
}

#about-head img {
  height: auto;
  width: 50%;
}

#about-app {
  text-align: center;
}

#about-app .video {
  width: 70%;
  margin: 30px auto 0 auto;
  height: 100%;
}

#about-app .video video {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 1px solid black;
}

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span,
.form-details form span {
  font-size: 12px;
}

#contact-details .details h2 .form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0px;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0px;
}

#contact-details .details li i {
  padding-right: 22px;
  font-size: 14px;
}

#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

.form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-details form input,
.form-details form textarea {
  width: 100%;
  border: 1px solid #e1e1e1;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
}

.form-details form button {
  background-color: #088178;
  color: white;
}
